
.buttonSearchBar {
  width: 65px;
  height: 65px;
  z-index: 1;
}

ion-searchbar {
  animation-name: extendSearchBar;
  animation-duration: 1s;
  width: 100%;
  background-color: #3880ff;
  border-radius: 20%; 
  right: 40px;
  height: 40px;

}

@keyframes extendSearchBar {
  from {width: 0px}
  to {width: 150%}
}

ion-row {
  align-items: center;
}